In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import geopandas as gpd
#import altair as alt

In [19]:
calendar = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/calendar.csv', parse_dates=['date'])
listings = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/listings.csv')
listings_summary = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/listings_summary.csv')
neighbourhoods = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/neighbourhoods.csv')
#neighbourhoods_geo = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/neighbourhoods.geojson')
reviews = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/reviews.csv')
reviews_summary = pd.read_csv('../../NotForGit/Datasets/airbnb_archive/reviews_summary.csv')

C:\Users\GN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (61,62,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
calendar.info()
calendar.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31050094 entries, 0 to 31050093
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 1.6+ GB

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,11551,2019-11-06,f,$105.00,$105.00,3.0,180.0
1,90700,2019-11-06,f,$125.00,$125.00,90.0,1125.0
2,90700,2019-11-07,f,$125.00,$125.00,90.0,1125.0
3,90700,2019-11-08,f,$125.00,$125.00,90.0,1125.0
4,90700,2019-11-09,f,$125.00,$125.00,90.0,1125.0

In [24]:
calendar.isnull().sum()

listing_id          0
date                0
available           0
price             918
adjusted_price    918
minimum_nights     10
maximum_nights     10
dtype: int64